.skill {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.skill i {
  margin-right: 1em;
  font-size: 24px;
  color: white;
}

.progress {
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right ,blue 0%, rgb(54, 148, 224) 50%,  rgb(24, 246, 38)  100%);
  width: 0;
  transition: width 3s ease-in-out;
  
}

.progress-animate {
  animation: progressAnimation 4s forwards;
}

@keyframes progressAnimation {
  from {
    width: 0;
  }
}
.skill-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.skill-name {
  flex-grow: 1;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

.skill-percentage {
  text-align: right;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.display-3.text-primary.text-uppercase.mb-0{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.display-2.text-primary.text-uppercase.mb-0{
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a.nav-link {
  float:  left;
  color: rgb(1, 0, 0);
  text-align: center;
  padding: 14px 16px;
  margin-top: 0px;
  font-size: 17px;
  font-style:italic;
  font-weight: 400;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a.navbar-brand {
  color: rgb(0, 0, 0);
  float: right;
}

nav.navbar.navbar-expand-lg {
top: 0;
z-index: 1000;
}

@media (max-width: 992px) {
.navbar-nav {
  text-align: center; /* Center the links on smaller screens */
}
}

@media (max-width: 992px) {
  .topnav a {
      float: none;
      display: block;
  }
}

.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em hidden rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

.home{
  animation: 
    typing1 8.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.home2{
  animation: 
    typing2 8.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing1 {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}

@media only screen and (max-width: 767px) {
  .background-color-layer {
    background-position: center center;
    background-size: cover;
  }
}


span {
  color: black;
}



.av {  
  border-radius: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.col-md-8 {
  margin-left: 10%;
}